
.carousel-cell { width: 100%; /* full width */ height: 70vh; /* height of carousel */ margin-right: 10px; background-repeat: no-repeat; }


.carousel-cell > div { width: 100%; /* full width */ height: 50vh; }

.container { max-width: 1200px; top: 300px; text-align: center; position: absolute; color: white; font-size: 30px; font-family: 'Spirax'; font-weight: bold; }

.flickity-page-dots .dot { display: none; }

.link { text-align: center; margin-top: 20px; }

.link a { padding: 2%; text-decoration: none; font-family: 'Droid', sans-serif; }


.button--previous-wrapped { 
	position: absolute; top: 450px; left: 90%;
	background: orange;
	color: green;
	font-family: 'Open Sans Condensed', sans-serif;
	width: 150px;
	height: 40px;
	font-size: 20px;
}

.progress-bar{
	height: 20px;
	width: 100%;
	background-color: green;
}

#map {
   width: 100%;
   height: 400px;
   background-color: grey;
 }


